* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.main_box {
    height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;

}

.btn_one  {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 0.5;
     transition: all 0.3s linear;
}

.btn_one:hover {
    font-size: 22px;
    opacity: 1;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
     transition: all 0.3s linear;
}




.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    height: 60px;

}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
}

.btn_two {
    position: absolute;
    color: white;
    font-size: 20px;
    line-height: 60px;
    left: 200px;
    cursor: pointer;
    opacity: 0.5;
     transition: all 0.2s linear;
}

.btn_two:hover {
    font-size: 22px;
    opacity: 1;
}

.sidebar_menu .menu {
    position: absolute;
    width: 95%;
    top: 80px;

}

.sidebar_menu .menu li {
    padding: 10px 20px;
    margin-bottom: 2px;
    font-size: 12px;
    transition: transform 0.1s ease;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
    transform: scale(1.1);

}

.sidebar_menu .menu i,
.sidebar_menu .menu a {
    color: white;
    text-decoration: none;

}

.sidebar_menu .menu i {
    padding-right: 3px;
}


.sidebar_menu .social_media {
    position: absolute;
    bottom: 30px;
    left: 30%;

}

.sidebar_menu .social_media i {
    opacity: 0.5;
    padding: 0.5px;
    font-size: 14px;
    color: white;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check {
    display: none;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one {
    opacity: 0;
}


#check:checked ~ .btn_two {
    opacity: 1;
}